/* Body */
body {
  background-color: #cfc9c9;
}

/* Menu */
#menu {
  text-align: center;
  padding: 10px;
}

#menu a {
  text-decoration: none;
  color: black;
}

/* blog */
.blog_post.first_post .blog_heading {
  font-size: 25px;
  color: rgb(31, 110, 58);
  text-align: center;
}

.blog_post.first_post p {
  background-color: rgb(185, 216, 44);
  border: 20px;
}

.blog_post.second_post .blog_heading {
  font-size: 25px;
  color: blueviolet;
  text-align: center;
}

.blog_post.second_post p {
  background-color: rgb(129, 128, 128);
  border: 20px;
}

.blog_post.third_post .blog_heading {
  font-size: 25px;
  color: blue;
  text-align: center;
}

.blog_post.third_post p {
  background-color: palevioletred;
  border: 20px;
}

.blog_post.fourth_post .blog_heading {
  font-size: 25px;
  color: maroon;
  text-align: center;
}

.blog_post.fourth_post p {
  background-color: rgb(243, 72, 10);
  border: 20px;
}

/* single-price-component */
.single-price-component {
  width: 50%;
  /* height: 100%; */
  max-width: 600px;
  /* max-height: 400px; */
  margin: auto;
  text-align: left;
  /* display: flex; */
  /* flex-direction: column; */
  /* box-sizing: border-box; */
  background-color: #fff;
  border: 10px;
}

.product-name {
  /* background-color: #fff; */
  padding: 25px 25px;
  /* border: 10px; */
  /* height: 40%; */
  /* justify-content: center; */
  border: 10px;
  display: flex;
  flex-direction: column;
}

.product-name h1 {
  color: rgb(18, 190, 176);
  font-size: 24px;
  padding-top: auto;
}

.product-name h2 {
  font-size: 20px;
  color: rgb(236, 240, 44);
  margin-bottom: 0px;
}

.product-name p {
  font-family: 'Lucida Sans Regular';
  font-size: 12px;
  margin-bottom: 0px;
  color: rgb(173, 170, 170);
}

.product-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 60%; */
  /* border: 10px; */
  /* margin-bottom: 5px; */
  ;
  margin: auto;
}

/*  */
.Price {
  background-color: rgb(3, 179, 155);
  color: #fff;
  padding: 20px 40px 40px 40px;
  /* border: 10px; */
}

.Price h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.Price h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 0px;
  display: inline;
}

.Price p.plan {
  font-size: 14px;
  color: #e9dcdc;
  opacity: 0.6;
  margin-bottom: 0px;
  display: inline;
}

.Price p {
  font-size: 16px;
  margin-bottom: 20px;
}

.Price button.sign-up-now {
  background-color: rgb(221, 221, 18);
  color: #777474;
  font-size: 12px;
  padding: 10px 70px 10px 70px;
  border: hidden;
  cursor: pointer;
  margin-bottom: 0px;
}

.Price button.sign-up-now:hover {
  background-color: #e9d7d7;
}

.product-description {
  background-color: rgb(6, 221, 185);
  color: #fff;
  padding: 25px 140px 25px 30px;
  /* border: 10px; */
}

.product-description h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.features {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.features li {
  font-size: 13px;
  margin-bottom: 10px;
}

.features li .ul {
  color: #fff;
  margin-bottom: 0px;
}

/* food-management-component */
.food-management-component {
  width: 100%;
  max-width: fit-content;
  /* /* max-height: fit-content;  */
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(../img/birdimages.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 100px;
  /* overflow: hidden; */
  /* line-height:0 ; */
}
    
.first-component {
  background-color: rgba(252, 36, 36, 0.5);
  color: #fff;
  margin-right: auto;
  height: 100%;
}

.first-component h2 {
  font-size: 27px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 108px;
  margin-right: 108px;

}

.first-component p {
  font-size: 17px;
  margin: 30px 60px;
}

.first-component button.know-more {
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(252, 36, 36, 0.3);
  border: solid 1px #fff;
  color: #fff;
  padding: 12px 24px;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  /* margin: auto; */
}

.first-component .know-more:hover {
  background-color: #0c6ad4;
}

.second-component {
  background-color: rgb(92, 224, 99, 0.3);
  color: #fff;
  height: 100%;
  /* margin: auto; */
  /* margin-left:auto ; */
  /* margin-right: auto; */
}

.second-component h2 {
  font-size: 27px;
  margin-top: 30px;
  margin-bottom: 47px;
  margin-left: 100px;
  margin-right: 100px;
}

.second-component p {
  font-size: 17px;
  margin: 30px 50px;
}
  

.second-component button.know-more {
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(92, 224, 99, 0.3);
  border: solid 1px #fff;
  color: #fff;
  padding: 12px 24px;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */

}

.second-component .know-more:hover {
  background-color: #0c6ad4;
}


.third-component {
  background-color: rgb(65, 163, 243, 0.5);
  color: #fff;
  margin-left: auto;
  height: 100%;
}

.third-component h2 {
  font-size: 27px;
  margin-top: 30px;
  margin-bottom: 45px;
  margin-left: 110px;
  margin-right: 110px;
}

.third-component p {
  font-size: 17px;
  margin: 25px 50px;
}

.third-component button.know-more {
  font-size: 14px;
  /* padding: 10px 20px 10px 20px; */
  cursor: pointer;
  border-radius:30px;
  background-color: rgb(65, 163, 243, 0.3);
  border: solid 1px #fff;
  color: #fff;
  padding: 12px 25px;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
}


.third-component .know-more:hover {
  background-color: #0c6ad4;
}

/* Mobile devices */
  @media screen and (max-width: 760px) {
    .food-management-component {
      display: flex;
      flex-direction: column;
    }
}
